<div class="question1">
    <div id="vote1">
        <h1><%= @question.text %></h1>
    </div>
</div>
<div class="resultat1 red hidden">
    <div class="question_result">
        <p><%= @question.text %></p>
    </div>
    <div class="question_pourcent">
        <h2><%= @pourcent1 %> %</em></h2>
    </div>
    <div class="question_vote">
        <span><%= @vote1 %> votes</em></span>
    </div>
    <div class="question_next">
        <%= link_to "Suivant", prefered_path(@question.id) %>
    </div>
</div>

<div class="question2">
    <div id="vote2">
        <h1><%= @question.text2 %></h1>
    </div>
</div>
<div class="resultat2 red hidden">
    <div class="question_result">
        <p><%= @question.text2 %></p>
    </div>
    <div class="question_pourcent">
        <h2><%= @pourcent2 %> %</em></h2>
    </div>
    <div class="question_vote">
        <span><%= @vote2 %> votes</span>
    </div>
    <div class="question_next">
        <%= link_to "Suivant", update_vote2_prefered_path(@question.id) %>
    </div>
</div>