<div class="wrapper-preferes">
    <div class="head">
        <span><%= link_to 'Retour', root_path %></span>
        <h1>Tu préfères ?</h1>
    </div>
    <div class="preferes-question-wrapper">
        <%= render "question" %>
    </div>
    
</div>