<div class="wrapper-form">
    <div class="form">
        <%= simple_form_for @question do |f| %>
            <%= f.input :text, label: "Tu préfères :" %>
            <%= f.input :text2, label: "Ou :" %>
            <%= f.submit %>
        <% end %>
    </div>
</div>
