<div class="wrapper-home">
    <header>
        <div class="header">
            <div class="title">
                <h1>
                    Qu'est ce qu'on fait pour l'apéro ?
                </h1>
            </div>
            <div class="time">
                <span><%= @text %></span>
            </div>
        </div>
    </header>
    <content>
        <div class="cards">
            <div class="card">
                <image><%= image_tag 'des.png', class: "img" %></image>
                <h2>Biskit</h2>
                <p>
                    <%= link_to biskit_path do %>
                        <p>Allons-y <i class="fas fa-angle-right"></i></p>
                    <% end %>
                </p>
            </div>
            <div class="card">
                <image><%= image_tag 'never.png', class: "img" %></image>
                <h2>Je n'ai jamais...</h2>
                <p>
                    <%= link_to jenaijamais_path do %>
                        <p>Allons-y <i class="fas fa-angle-right"></i></p>
                    <% end %>
                </p>
            </div>
            <div class="card">
                <image><%= image_tag 'prefere.png', class: "img" %></image>
                <h2>Tu préfères ?</h2>
                <p>
                    <%= link_to prefereds_path do %>
                        <p>Allons-y <i class="fas fa-angle-right"></i></p>
                    <% end %>
                </p>
            </div>
        </div>
    </content>
    <div class="spotify">
        <iframe src="https://open.spotify.com/embed?uri=spotify:user:francoisrabanel:playlist:51sU5KhHJZI2TbzCuo9zw4" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
    </div>
    <footer>
        <div class="madeby">
            <p> Réalisé par <%= link_to 'FrançoisR', 'http://www.francoisrabanel.fr', target: '_blank' %></p>
        </div>
    </footer>
</div>
