<div class="wrapper-never">
    <div class="head">
        <span><%= link_to 'Retour', root_path %></span>
        <h1>Je n'ai jamais</h1>
    </div>
    <div class="question-wrapper">
        <div class="question-center">
            <div class="question">
            </div>

            <div class="next">
                <button>Suivant</button>
            </div>

            <div class="rappel">
                <p>Rappel : Si c'est le cas, vous buvez une gorgée.</p>
            </div>
        </div>
    </div>
</div>