.wrapper-preferes {
    height: 100vh;
    .head {
        h1 {
            text-align: center;
        }
        span {
            padding: 10px;
        }
    }
    .preferes-question-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 20px 5px 0px 5px;
        text-align: center;
        .question1 {
            border-bottom: solid;
            grid-column: 1/5;
            grid-row: 1/2;
            background-color: white;
            height: 170px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .question2 {
            border-top: solid;
            grid-column: 1/5;
            grid-row: 2/3;
            background-color: white;
            height: 170px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .resultat1 {
            grid-column: 1/5;
            grid-row: 1/2;
        }
        .resultat2 {
            grid-column: 1/5;
            grid-row: 2/3;
        }
        .question_next {
            padding-top: 15px;
            a {
                border: 1px solid rgb(255, 255, 255);
                background-color: rgba(106,216,106,0.55);
                border-radius: 6px;
                color: rgb(255, 255, 255);
                padding: 5px;
                width: 200px;
            }
        }
        .hidden {
            display: none
        }
        .green {
            background-color: RGBA(187, 238, 211, 1.00);
        }
        .red {
            background-color: #E08283;
        }
    }
}


@media (min-width: 750px) {
    .wrapper-preferes {
        .preferes-question-wrapper {
            .question1 {
                grid-column: 1/3;
                grid-row: 2/3;
                border-right: solid;
                border-bottom: none;
            } 

            .question2 {
                grid-column: 3/5;
                grid-row: 2/3;
                border-left: solid;
                border-top: none;
            }

            .resultat1 {
                grid-column: 1/3;
                grid-row: 2/3;
            }

            .resultat2 {
                grid-column: 3/5;
                grid-row: 2/3;     
            }
        }
    }
}
