.wrapper-form {
    height: 100vh;
    padding: 50px;
    .form {
        text-align: center;
        label {
            padding: 5px;
        }
        #prefered_text {
            width: 600px;
        }
        #prefered_text2 {
            width: 600px;
        }
    }
}