body { 
    background-image: url('background.jpg');
    background-position: center;
    background-size: cover;
    a {
        text-decoration: none;
        color: RGBA(80, 146, 145, 1.00);
    }
    a:hover {
        text-decoration: none;
    }
    h1, h2, h3 {
        font-family: 'Oswald', sans-serif;
    }
    p, span {
        font-family: 'IBM Plex Mono', monospace;
    }
}


header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    .header {
        .title {
            h1 {
                font-weight: bolder;
                font-size: 29px;
                box-shadow: inset 0 -8px 0 RGBA(80, 146, 145, 1.00);
            }
        }
        .time {
            text-align: center;
        }
    }
}


content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0px;
    .cards {
        padding: 10px;
        .card {
            background-color: #FFFFFF;
            border: 1px solid #E0DEE7;
            border-radius: 25% 10%;
            box-shadow: 12px 12px 2px 1px RGBA(80, 146, 145, 1.00);
            text-align: center;
            padding: 10px 0px;
            margin-bottom: 90px;
            .img {
                width: 45%;
            }
        }
    }
}

.inactive {
    opacity: 0.3;
    box-shadow: 12px 12px 2px 1px RGBA(80, 146, 145, 1.00) !important;
}

.spotify {
    text-align: center;
}


@media (min-width: 400px) {
    .title {
        margin: 0px 60px;
    }
}